.order-enter
  
  transform:translateX(-120%)
  max-height 0
  padding 0 !important

  transition 0.4s
  &.order-enter-active
    
    max-height 50px
    padding 2rem 0 !important
    transform:translatex(0)
    


.order-exit

  transform:translateX(0)
  

  transition 0.4s
  &.order-exit-active
  
    padding 0
    transform:translateX(120%)
  
.count-enter
  
  transition .4s
  transform translateY(100%)
  &.count-enter-active
  
    transform translateY(0)

.count-exit
  
  transform translateY(0)
  transition .4s
  position absolute
  left 0
  bottom 0
  &.count-exit-active
    
    transform translateY(-100%) 
